<head>
  <link rel="stylesheet" href="/css/static/index.css">
</head>

<div class="header">
  <h2>Quora 0.2</h2>
</div>

<div class="askquestion">
  <form class="" action="/questions/ask" method="post">
    <p>Ask A Question!</p>
    <input type="question" name="question[question]" value="">
    <br>
    <input type="submit" value="Submit My Question">
  </form>
</div>

<div class="questionlist">
  <a href="/questions">
    <h3>List of all questions</h3>
  </a>
</div>

<div class="signup">
  <h4>
    <a href="/signup">Signup for an account today</a>
  </h4>
</div>

<div class="login">
  <h4>
    <a href="/login">Login</a>
  </h4>
</div>
